@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Identity and Dependency Injection</h1>
    <p class="lead">This solution is a full source code for series of blog posts about Asp.Net and using it with Dependency Injection</p>
    <p><a href="http://tech.trailmax.info/tag/identity/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Part 1: Basics</h2>
        <p>
            Starting from standard Visual Studio 2013 MVC5 template and walking through each component, making adjustments to code and hooking up Unity container
        </p>
        <p><a class="btn btn-default" href="http://tech.trailmax.info/2014/09/aspnet-identity-and-ioc-container-registration/">Part 1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Part 2: Email Confirmation</h2>
        <p>
            Hook-up SendGrid service to send emails. But do email testing with fake SMTP server Mailtrap.IO. All of that using Dependency Injection.
        </p>
        <p><a class="btn btn-default" href="TBA">Part 2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Part 3: TBA</h2>
        <p>TBA</p>
        <p><a class="btn btn-default" href="TBA">Part 3 &raquo;</a></p>
    </div>
</div>